h2 {
    margin-top: 40px;
}
section {
    display: inline-block;
    width: 1280px;
    position: absolute;
    left: 50%;
    margin-left: -540px;
}
article {
    background: #FFF;
    margin: 30px 0px;
}
#boardName {
    width: 95%;
    height: 36px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #DEE2E5;
    background: #FFF;
}
#boardName::placeholder {
    color: #ADB5BD;
    font-size: 14px;
    letter-spacing: -0.14px;
}
.board-add-btn, .board-cancel-btn {
    width: 94px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    cursor: pointer;
}
.board-cancel-btn {
    border: 1px solid #DEE2E5;
    background: #FFF;
    color: #495057;
    margin-right: 10px;
}
.board-add-btn {
    background: #486FFA;
    color: #FFF;
}
.btn-wrapper {
    text-align: right;
}