*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
html {
    width: 100%;
}
body {
    width: 100%;
}
a {
    text-decoration:none;
}
button {
    border-width: 0px;
}
button:hover {
    opacity: 90%;
}
.form-input {
border-radius: 4px;
border: 1px solid #DEE2E5;
background: #FFF;
padding-left: 16px;
color: #343A40;
}
.form-input::placeholder {
color: #ADB5BD;
font-size: 14px;
}
.common-btn {
cursor: pointer;
}
.field-error {
color: #E82168 !important;
font-size: 11px !important;
font-family: Pretendard !important;
font-weight: 500 !important;
text-align: left;
letter-spacing: -0.11px;
}
.field-input-error {
border-radius: 4px !important;
border: 1px solid #E82168 !important;
background: #FFF !important;
}
.blue-active-btn {
width: 360px;
height: 46px;
border-radius: 4px;
background: #486FFA;
color: #FFF;
text-align: center;
font-size: 16px;
letter-spacing: -0.16px;
}
.btn-disabled {
width: 360px;
height: 46px;
border-radius: 4px;
background: #E8ECEF;
color: #ADB5BD;
font-size: 16px;
font-weight: 500;
letter-spacing: -0.16px;
cursor: default;
opacity: 100% !important;
}

