body {
    text-align: center;
    background: #F8F9FA;
}
section {
    margin: 60px auto auto auto;
    width: 360px;
}
.join-text {
    color: #343A40;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.32px;
    margin-bottom: 40px;
}
.join-label {
    display: inline-block;
    width: 366px;
    color: #343A40;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
    text-align: left;
    margin-bottom: 4px;
}
.join-email {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #DEE2E5;
    background: #FFF;
    padding-left: 16px;
    font-size: 14px;
    letter-spacing: -0.14px;
}
.join-email::placeholder {
    color: #ADB5BD;
    font-size: 14px;
    letter-spacing: -0.14px;
}
.join-email option:first-child {
    font-size: 14px;
    letter-spacing: -0.14px;
}
#email-fail {
    color: #E82168;
}
.join-explication {
    color: #858E96;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -0.11px;
    display: inline-block;
    width: 366px;
    text-align: left;
    margin-bottom: 24px;
}
.join-btn-disabled {
    width: 360px;
    height: 46px;
    border-radius: 4px;
    background: #E8ECEF;
    color: #ADB5BD;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
    cursor: default;
    opacity: 100% !important;
}
.join-btn-active {
    width: 360px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #486FFA;
    background: #FFF;
    color: #3D63E7;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;
}
.join-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #DEE2E5;
    background: #FFF;
    padding-left: 16px;
}
.join-input::placeholder {
    color: #ADB5BD;
    font-size: 14px;
    letter-spacing: -0.14px;
}
.join-already-txt {
    color: #858E96;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
}
#gotoLogin {
    color: #495057;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
    text-decoration-line: underline;
    cursor: pointer;
}
#mail-auth-wrapper {
    text-align: left;
    position: relative;
}
#join-auth-btn {
    position: absolute;
    top: 30px;
    right: 7px;
    border-radius: 4px;
    background: #E8ECEF;
    width: 50px;
    height: 26px;
    color: #ADB5BD;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
}
.active-btn {
    background: #486FFA !important;
    color: #FFF !important;
    cursor: pointer;
}
.resend-auth-code {
    color: #495057;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -0.11px;
    text-decoration-line: underline;
    cursor: pointer;
}
.mail-auth-txt {
    color: #858E96;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.12px;
}
#auth-non-same {
    color: #E82168 !important;
    margin-bottom: 4px !important;
}
.auth-fail {
    border-radius: 4px;
    border: 1px solid #E82168;
    background: #FFF;
}
#email-success {
    color: #00C2B7;
}
